# GCP Infrastructure Settings
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-gcs-lakehouse-bucket

# Kafka & Streaming Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081

# Fault Injection & Monitoring (Optional)
INJECT_ERROR=True
SLACK_WEBHOOK_URL=
